// Layout
#container 
  :width 950px
  :margin 0 auto
  :background #222320
  :border-right 10px solid #121311
  
#header
  :height 130px
  :position relative
  :background #111
  h3 
    :position absolute
    :top 12px
    :left 16px
    :margin 0
    :font-family "ChaletLondonNineteenSixty"
    :color #777
    :text-shadow 0 0 0 #777
  h1#title
    :position absolute
    :top 24px
    :left 12px
    :color #ccc
    :font-size 4em
    :font-family "ChaletParisNineteenSixty"
    :margin 0
    :text-shadow 0 0 0 #ccc
    a
      color: white
      text-decoration: none
  h1#bkr
    :position absolute
    :text-indent -10000px
    :margin 0
    :top 0
    :right 0
    :height 130px
    :width 330px
    a
      :display block
      :height 130px
      :width 330px
      :background url('/images/logo.png') no-repeat
    
#content
  +clearfix
  :padding 12px
  
  h2 
    :font-family ChaletLondonNineteenSixty
  
#main
  :width 504px
  :float left
  
#sidebar
  :width 408px
  :float right
  
#footer
  :clear both
  :text-align right
  :padding 12px 12px 0

    