// Typography

$base-scale: 0.88
$base-font: $base-scale * 1em
$vertical-rhythm: 1.5em
$base-vertical-margin: 1.5em

@mixin adjust-font-size($scale, $top-weight: 1, $bottom-weight: 1)
  $average-margin: $base-vertical-margin / $scale
  margin-top: $average-margin * $top-weight
  margin-bottom: $average-margin * $bottom-weight
  
  $line-height: $vertical-rhythm / $scale
  @if $line-height < 1
    line-height: $line-height * 2
  @else
    line-height: $line-height

  font-size: 100% * $scale
    
@font-face 
  font-family: 'ChaletLondonNineteenSixty'
  src: url('/fonts/chalet-london1960-webfont.eot')
  src: local('☺'), url('/fonts/chalet-london1960-webfont.woff') format('woff'), url('/fonts/chalet-london1960-webfont.ttf') format('truetype'), url('/fonts/chalet-london1960-webfont.svg#webfontumsobpAN') format('svg')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'ChaletParisNineteenSixty'
  src: url('/fonts/chalet-paris1960-webfont.eot')
  src: local('☺'), url('/fonts/chalet-paris1960-webfont.woff') format('woff'), url('/fonts/chalet-paris1960-webfont.ttf') format('truetype'), url('/fonts/chalet-paris1960-webfont.svg#webfontb0zK7qRw') format('svg')
  font-weight: normal
  font-style: normal
