// Typography

$base-scale: 0.88
$base-font: $base-scale * 1em
$vertical-rhythm: 1.5em
$base-vertical-margin: 1.5em

@mixin adjust-font-size($scale, $top-weight: 1, $bottom-weight: 1)
  $average-margin: $base-vertical-margin / $scale
  margin-top: $average-margin * $top-weight
  margin-bottom: $average-margin * $bottom-weight
  
  $line-height: $vertical-rhythm / $scale
  @if $line-height < 1
    line-height: $line-height * 2
  @else
    line-height: $line-height

  font-size: 100% * $scale
  
  

@font-face 
  font-family: "MuseoSans_300"
  src: url("/fonts/MuseoSans_300.otf") format("opentype")
  font-style: normal
  
@font-face 
  font-family: "MuseoSans_100"
  src: url("/fonts/MuseoSans_100.otf") format("opentype")
  font-style: normal
  
@font-face 
  font-family: "MuseoSans_500"
  src: url("/fonts/MuseoSans_500.otf") format("opentype")
  font-style: normal