// Variables

$content-width: 37em

$tint: #D3D4D8
$base-color: $tint - #888
$dark-tint: $tint - #333
$background-tint: $tint + #222
$border-color: $tint + #111

$background-color: #111

$h1-scale: 2.18
$h2-scale: 1.64
$h3-scale: 1.45
$h4-scale: 1.18

// Reset
*
  margin: 0
  padding: 0



@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius