#thumbnails
  %ul
    :each key in keys
      %li.thumbnail{ id: assets[key].name }
        %a.sammy{ href: '#/months/' + assets[key].name, title: assets[key].title }
          %img{ src: assets[key].thumbnail, alt: assets[key].name }