#thumbnails
  %ul
    :each key in keys
      %li.thumbnail{ id: assets[key].name }
        %a{ href: '#/months/' + assets[key].name }
          %img{ src: assets[key].thumbnail, alt: assets[key].name }
:javascript
  Site.image_hover('.thumbnail img');