#main 
  .hide
    %ul
      - @months.each do |month|
        != partial :'pages/_thumbnails', :month => month   
  .image.fade
    %img{ :src => @month.display_path, :alt => @month.name }
  .info
    %h3= @month.title
    .links
      - unless @previous_month.nil? 
        %a.sammy.previous{ :href => @previous_month.path } Previous
        |
      %a.sammy{ :href => '/' } Back to index 
      - unless @next_month.nil? 
        |
        %a.sammy.next{ :href => @next_month.path } Next
#sidebar
  != partial :'pages/_intro_text'
