#main
  %img{ :src => @month.display_path, :alt => @month.name }
    
#sidebar
  %h2= @month.title
  
  :markdown
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate 
    eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum 
    felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
  
  %p  
    - unless @previous_month.nil? 
      %a.sammy.previous{ :href => @previous_month.path } Previous
      |
    %a.sammy{ :href => '/' } Back to index 
    - unless @next_month.nil? 
      |
      %a.sammy.next{ :href => @next_month.path } Next