!!! Strict
%html
  %head
    %title
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :href => "/css/brewgirls.css", :type => "text/css"}

  %body
    #container
      #header
        %h3 Bitch Kitty Racing Presents
        %h1#title Brew Girls 2011
        %h1#bkr 
          %a{ :href => 'http://bitchkittyracing.com' } BKR
      #content
        != yield
      #footer
        %p
          © 2010 
          %a{ :href => 'http://bitchkittyracing.com' } Bitch Kitty Racing
