!!! Strict
%html
  %head
    %title 
      Brewgirls 2011
      - if !@page_title.nil?
        = '::' 
        = @page_title
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :href => "/css/brewgirls.css", :type => "text/css"}
    
    %script{ :type => 'text/javascript', :src => '/javascripts/vendor/jquery-1.4.2.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/vendor/sammy.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/vendor/sammy.haml.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/lib/site.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/lib/main.js' }
    
    // %script{ :type => 'text/javascript', :src => '/javascripts/compressed.js' }
    // %script{ :type => 'text/javascript', :src => '/javascripts/bundled.js' }

  %body
    #container
    
      #header
        %h3 Bitch Kitty Racing Presents
        %h1#title 
          %a{ :href => '/' } Brew Girls 2011
        %h1#bkr 
          %a{ :href => 'http://bitchkittyracing.com' } BKR
          
      #content
        != yield
        
      #footer
        %p
          Copyright © 2010 
          %a{ :href => 'http://bitchkittyracing.com' } Bitch Kitty Racing
          %a{ :href => 'mailto:info@bitchkittyracing.com' } info@bitchkittyracing.com 
          %a{ :href => 'http://bitchkittyracing.com/about/privacy-policy/' } Privacy Policy
